<!DOCTYPE html>
<html lang="en">
  <head>
    <title>STRONA LOGOWANIA</title>
    <link href="../static/logowanie.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="header">
        <nav>

            <li role="presentation" ><a href="http://127.0.0.1:5000/">Home</a></li>
            <li role="presentation"><a href="#">Sign In</a></li>
            <li role="presentation" class="active"><a href="#">Sign Up</a></li>

        </nav>

      </div>

      <div class="jumbotron">
        <h1>PORTAL DLA WOLNYCH SŁOWIAN</h1>
        <form class="form-signin">

        <label for="inputName" class="sr-only">Name</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>

        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>

        <button id="buttonSingUp" class="btn btn-lg btn-primary btn-block" type="button">ZALOGUJ SIĘ</button>
      </form>
      </div>

      <footer class="footer">
        <p>WOLNI SŁOWIANIE - PORTAL DLA WSZYSTKICH</p>
      </footer>

    </div>
  </body>
</html>